langchain
langchain_community
langchain_core
langchain_openai
langchain_text_splitters
boto3
awscli
faiss-cpu
tiktoken
pypdf
PyMuPDF
google-cloud-aiplatform
openai
pyopenssl
cryptography
tdapiclient
pydantic==2.9.2
fastparquet
ipywidgets
panel