Teradata/Log/*.log
Teradata/Charts/*
Teradata/Resultsets/*
Teradata/KernelInfo/*
.ipynb_checkpoints
Teradata/Config/*
.data/demo*
Teradata/Config/userinfo.db
.tests/bad_tests/
.tests/test-results/**/*