teradatagenai==20.0.0.5
langchain-teradata==20.0.0.1
anywidget==0.9.21
ipywidgets==8.1.8
langchain==1.2.10
langchain-core==1.2.13
langchain-openai==1.1.9
langgraph==1.0.8
langgraph-prebuilt==1.0.7
langgraph-sdk==0.3.6
langgraph-checkpoint==4.0.0
langsmith==0.7.3
openai==2.21.0
python-dotenv==1.2.1
unstructured-client==0.42.10