name: CI

on:
  workflow_dispatch:
  push:
    branches:
     - 'feature/**'

jobs:
    myjob:
        runs-on: ubuntu-latest
        name: My Job
        steps:
          - uses: actions/checkout@v4
            with:
              # We need to fetch all branches and commits so that Nx affected has a base to compare against.
              fetch-depth: 0
    
          # In any subsequent steps within this job (myjob) we can reference the resolved SHAs
          # using either the step outputs or environment variables:
    
          # ===========================================================================
          # OPTION 1) Environment variables
          # ===========================================================================
          - name: Derive appropriate SHAs for base and head for `nx affected` commands
            uses: nrwl/nx-set-shas@v4
    
          - run: |
              echo "BASE: ${{ env.NX_BASE }}"
              echo "HEAD: ${{ env.NX_HEAD }}"
    
          # ===========================================================================
          # OPTION 2) Step outputs (in this case we must give the step an "id")
          # ===========================================================================
          - name: Derive appropriate SHAs for base and head for `nx affected` commands
            id: setSHAs
            uses: nrwl/nx-set-shas@v4
    
          - run: |
              echo "BASE: ${{ steps.setSHAs.outputs.base }}"
              echo "HEAD: ${{ steps.setSHAs.outputs.head }}"