name: Nightly tests

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      test_env:
        type: choice
        description: 'Select the wether to run the tests in the CI environment or Production environment'
        default: 'PROD'
        options:
          - CI
          - PROD
      notebooks: 
        description: 'The path to the notebooks to test. leave empty to test all notebooks'
        required: false
      ignore_blacklist:
        type: 'boolean'
        description: 'Ignore the blacklist and run all tests'
        required: false
        default: false

defaults:
  run:
    working-directory: .tests
    shell: bash
    
jobs:
  playwright-tests:
    permissions:
      contents: 'read'
      id-token: 'write'
    strategy:
      fail-fast: false
      matrix: ${{ github.event.inputs.notebooks == '' && fromJson('{"idx":[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]}') || fromJson('{"idx":[1]}') }}
    env:
        CSAE_NOTEBOOKS: ${{ github.event.inputs.notebooks }}
        CSAE_ENV_PASSWORD: ${{ secrets.CSAE_ENV_PASSWORD }}
        CSAE_PARALLEL_TESTS_COUNT: ${{ vars.CSAE_PARALLEL_TESTS_COUNT }}
        CSAE_WORKERS_COUNT: ${{ vars.CSAE_WORKERS_COUNT }}
        CSAE_CI_JOB_IDX: ${{ matrix.idx }}
        TEST_ENV: ${{ github.event.inputs.test_env || 'PROD' }}
        CSAE_CI_JOB_COUNT: ${{ github.event.inputs.notebooks == '' && '10' || '1' }}
        IGNORE_BLACKLIST: ${{ github.event.inputs.ignore_blacklist || 'false' }}
        CI_ENV: 'nightly'
    name: Job ${{ matrix.idx }}
    timeout-minutes:  1440
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16
    - name: Define env name and GCP credentials
      id: define-environment
      run: |
        echo "env-name=ci-$(date +%s%N)" >> $GITHUB_OUTPUT
        if [ "${TEST_ENV}" == "CI" ]; then
          echo "workload_identity_provider=projects/561066095864/locations/global/workloadIdentityPools/github/providers/jupyter-demos" >> $GITHUB_OUTPUT
          echo "service_account=cicd-sa@clearscape-ci.iam.gserviceaccount.com" >> $GITHUB_OUTPUT
          echo "gcp_project=clearscape-ci" >> $GITHUB_OUTPUT
          echo "CSAE_CLEARSCAPE_API_KEY=${{ secrets.CSAE_CI_CLEARSCAPE_API_KEY }}" >> $GITHUB_ENV
        else
          echo "workload_identity_provider=projects/323844706402/locations/global/workloadIdentityPools/github/providers/jupyter-demos" >> $GITHUB_OUTPUT
          echo "service_account=cicd-sa@clearscape-production.iam.gserviceaccount.com" >> $GITHUB_OUTPUT
          echo "gcp_project=clearscape-production" >> $GITHUB_OUTPUT
          echo "CSAE_CLEARSCAPE_API_KEY=${{ secrets.CSAE_CLEARSCAPE_API_KEY }}" >> $GITHUB_ENV
        fi
    - name: Authenticate with Google Cloud
      id: auth
      uses: 'google-github-actions/auth@v2'
      with:
        workload_identity_provider: ${{steps.define-environment.outputs.workload_identity_provider}}
        service_account: ${{steps.define-environment.outputs.service_account}}
    - name: Get secrets from Google Secret Manager
      id: 'secrets'
      uses: 'google-github-actions/get-secretmanager-secrets@v2'
      with:
        secrets: |-
          OPENAI_API_KEY:${{steps.define-environment.outputs.gcp_project}}/JUPYTER_NOTEBOOK_CI_OPEN_AI_KEY
          GOOGLE_AI_API_KEY:${{steps.define-environment.outputs.gcp_project}}/GOOGLE_AI_API_KEY
          GOOGLE_API_KEY:${{steps.define-environment.outputs.gcp_project}}/GOOGLE_API_KEY
          AWS_BEDROCK_ACCESS_KEY_ID:${{steps.define-environment.outputs.gcp_project}}/AWS_BEDROCK_ACCESS_KEY_ID
          AWS_BEDROCK_REGION_NAME:${{steps.define-environment.outputs.gcp_project}}/AWS_BEDROCK_REGION_NAME
          AWS_BEDROCK_SECRET_ACCESS_KEY:${{steps.define-environment.outputs.gcp_project}}/AWS_BEDROCK_SECRET_ACCESS_KEY
        export_to_environment: true
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright browsers
      run: |
        npx playwright install --with-deps
    - name: Find all Jupyter notebooks
      run: find .. -name '*.ipynb' | tail -n 2 | sort > ./files.txt
    - name: Start test environments
      id: start-test-environment
      run: npx ts-node pre_create_env.ts
    - name: Run Playwright tests
      run: |
        npx playwright test --shard=${{matrix.idx}}/10
    - name: Delete test environments
      if: always()
      run: npx ts-node post_delete_env.ts
    - name: Upload blob report to GitHub Actions Artifacts
      if: ${{ !cancelled() }}
      uses: actions/upload-artifact@v4
      with:
        name: blob-report-${{ matrix.idx }}
        path: .tests/blob-report
        retention-days: 1

  merge-reports:
    # Merge reports after playwright-tests, even if some shards have failed
    if: ${{ !cancelled() }}
    permissions:
      pages: 'write'
      contents: 'read'
      id-token: 'write'
    needs: [playwright-tests]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Download blob reports from GitHub Actions Artifacts
      uses: actions/download-artifact@v4
      with:
        path: .tests/all-blob-reports
        pattern: blob-report-*
        merge-multiple: true
    - name: Merge into HTML Report
      run: npx playwright merge-reports --reporter html ./all-blob-reports
    - name: Upload HTML report
      uses: actions/upload-artifact@v4
      with:
        name: html-report-attempt-${{ github.run_attempt }}
        path: .tests/playwright-report/
        retention-days: 14
        
    - name: Setup pages
      uses: actions/configure-pages@v5
    - name: Upload report to GitHub Pages
      uses: actions/upload-pages-artifact@v3
      with:
        path: .tests/playwright-report/
    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
    - name: Job summary
      run: |
        echo "# Deployment result" >> $GITHUB_STEP_SUMMARY
        echo "View the [Playwright report](https://teradata.github.io/jupyter-demos/)" >> $GITHUB_STEP_SUMMARY

      
